body {
    margin: 0;
    padding: 0;
    background: url('https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?q=80&w=1974&auto=format&fit=crop') no-repeat center center/cover;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.overlay {
    background-color: rgba(0,0,0,0.7);
    height: 100vh;
}

.container {
    text-align: center;
    padding-top: 220px;
    color: white;
}

h1 {
    color: red;
    font-size: 80px;
    margin-bottom: 10px;
}

p {
    font-size: 24px;
}

button {
    padding: 15px 35px;
    background-color: red;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: darkred;
}
